
        
        
        
        <section class="container" style="font-size:18px;">
            <div class="col-lg-12 col-md-12">
                
                    <div class="row">
                        
                
        <div class="col-lg-12 col-md-12 mt16" style="padding:0;">
            <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                <div class="panel-heading collapsed mb0 mt0" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;border:none;">
                    <strong>
                        
        <div style="background-color:#21B799 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
            <strong title="Click to observe details">
                <i class="fa fa-tags ml4"> </i>
                
                <span class="ml4">
                    0
                    <i class="fa fa-euro" style="font-size:14px;"> </i>
                </span>
                <i class="fa fa-angle-down ml4"> </i>
            </strong>
        </div>
    
                        
        
            
            
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Enterprise version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Enterprise
                </strong>
                
            </div>           
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;">
                <strong title="The tool is compatible with the Odoo Community version" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Community
                </strong>
                
            </div>
            <div style="background-color:#0D6759 !important;color:white !important;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display:inline-block;;">
                <strong title="The tool might be installed to Odoo.sh if you have a linked private git repository" style="color:white !important;">
                    <i class="fa fa-check ml4"> </i>
                    Odoo.sh
                </strong>
            </div>
        
    
                    </strong>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" id="priceAccordeon_area" aria-expanded="false" style="padding:0;border:1px dotted #ddd;">
                    <div class="panel-body">
                        
        
    
                        
        <div class="col-12 mt8">
            <span>
                The tool does not require extra dependencies beside standard Odoo apps
            </span>
        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
                    </div>
                    <div class="row">
                        
        <div class="col-lg-12 col-md-12 mt8" style="padding:0;">
            <ul role="tablist" class="nav nav-tabs mb16 mt16 justify-content-center" data-tabs="tabs" style="background:unset !important;">
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#features" data-toggle="tab" class="nav-link active" aria-expanded="true" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                        Features
                    </a>
                </li>
                
                
                
                <li class="nav-item mb4" style="background-color: #21B799;border-top-left-radius: 6px;border-top-right-radius: 6px;margin-right:2px;padding-bottom:3px;min-width:150px;">
                    <a href="#support_info" data-toggle="tab" class="nav-link" style="color:black !important;border-top-left-radius: 6px;border-top-right-radius: 6px;">
                       Support
                       
                    </a>
                </li>
            </ul>
        </div>
    
                    </div>
                    <div class="row">
                        <div class="tab-content w-100">
                            <div id="features" class="tab-pane active">
                                
        <div class="row">
            <div class="col-lg-12 col-md-12 mb8">
                
                    <div class="alert alert-success mt0 mb0">
                        <span>
                            <i class="fa fa-trophy"> </i>
                            For message/notes editing use the tool <a href='https://apps.odoo.com/apps/modules/13.0/message_edit/'>Message / Note Editing</a>
                        </span>
                    </div>
                
            </div>
        </div>
    
                                
        <div class="row">
            <div class="row col-lg-12 col-md-12 mt8 mb8">
                <div class="text-left mb16 col-lg-12 col-md-12">
                    <div>This is the tool to simplify work of Odoo administrators while revising emails. With the app such users might delete messages right from channel and thread interfaces.</div>
                    
                       
                </div>
                
            </div>
            
        </div>
    
                                
        <div class="mt8">
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>In order to delete a message a user should just press the trash icon and confirm this action</h2>
                    </div>
                    <section class="w-100">
                        
                        
                         
                    </section>
                </div>
            
                <div class="row mt8 mb16">
                    <div class="col-lg-12 col-md-12">
                        <h2>For security purposes the right to remove messages belongs only to the users with the right 'Settings > Administration'</h2>
                    </div>
                    <section class="w-100">
                        
                        
                         
                    </section>
                </div>
            
        </div>        
    
                            </div>
                            
                            
                            
                            <div id="support_info" class="tab-pane">
                                
        <div class="row mt8">
            <div class="col-md-12">
                
                <div class="mb16">
                    <h3>Bug reporting</h3>
                    <p>In case you have faced any bugs or inconsistent behavior, do not hesitate to contact us. We guarantee to provide fixes during 60 days after a purchase, while even after this period we are strongly interested to improve our tools.</p>
                    <p>To send us a bug report: press the "Website" link on the top of this page and push the button "Bug Report" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/8c6ovm</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                    <p>Please include in your request as many details as possible: screen shots, Odoo server logs, full description of how to re-produce your problem, and so on. Usually it takes a few business days to prepare a working plan by an issue (if a bug is confirmed) or provide you with guidelines what should be done (otherwise).</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Public features request and module ideas (free development)</h3>
                    <p>We are strongly motivated to improve our tools and would be grateful for any sort of feedback. In case your requirements are of public use and might be efficiently implemented, the team would include those into our to-do list.</p>
                    <p>Such to-do list is processed on a regular basis and does not assume extra fees. Altough we cannot promise deadlines and final design, it might be a good way to get desired features without investments and risks.</p>
                    <p>To share ideas: press the "Website" link on the top of this page and push the button "Share Features Ideas" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/g80qxp</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>New features and extra Odoo services (individual development)</h3>
                    <p>Each of our apps might be customized and extended to suit your specific requirements.</p>
                    <p>Our customization team (itlibertas.com) fulfills not only such jobs but it also provides a full range of Odoo services. From simple modifications and consultations to complex enterprise projects. The team has completed over 100 implementations since 2012, and might help with any technical or business needs.</p>
                    <p>To contact us for details and conditions: press the "Website" link on the top of this page and push the button "Request Individual Customization" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/k9lpjo</span></p>
                    <p>No phone number or credit card are required to contact us: only a short email sign up which does not take more than 30 seconds.</p>
                </div>
                <div class="mt16 mb16">
                    <h3>Questions and misc issues</h3>
                    <p>Feel free to contact us by any other concerns, doubts, or questions: press the "Website" link on the top of this page and push the button "Raise Question" (the tab Support). Alternatively, copy the link <span class="bg-primary" style="border-radius:5px;padding:5px">https://faotools.com/s/kse0aa</span></p>
                </div>
                <div class="mt16 mb16">
                    <h3>About the team</h3>
                    <p>faOtools (faotools.com, former odootools.com) is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed. We are open for new ideas and challenges to create the best Odoo apps for business needs all over the world.</p>
                </div>
                
            </div>
        </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
        
        <div class="col-md-12 col-lg-12 mt16 mb16">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb8">
                    <h3>You may like the tools</h3>
                </div>
            </div>
            <div class="row">            
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/mail_manual_routing">
                                    <img class="img img-fluid" src="app_icon_1.png" alt="Lost Messages Routing"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/mail_manual_routing">
                                    Lost Messages Routing
                                </a>
                                <p class="mb0">The tool to make sure you do not loose any incoming messages</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            36<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/total_notify">
                                    <img class="img img-fluid" src="app_icon_2.png" alt="Periodic Reporting and Reminders"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/total_notify">
                                    Periodic Reporting and Reminders
                                </a>
                                <p class="mb0">The tool to generate and periodically send reports and reminders</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                172<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            154<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/compoze_no_auto_subscribe">
                                    <img class="img img-fluid" src="app_icon_3.png" alt="No Auto Subscription"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/compoze_no_auto_subscribe">
                                    No Auto Subscription
                                </a>
                                <p class="mb0">The tool to exclude automatic following for message recipients</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            49<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/message_edit">
                                    <img class="img img-fluid" src="app_icon_4.png" alt="Message / Note Editing"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/message_edit">
                                    Message / Note Editing
                                </a>
                                <p class="mb0">The tool to correct accidental mistakes in messages and notes</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            44<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/recurrent_activities">
                                    <img class="img img-fluid" src="app_icon_5.png" alt="Recurring Activities"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/recurrent_activities">
                                    Recurring Activities
                                </a>
                                <p class="mb0">The tool to plan and generate recurring activities according to the flexible timetable rules</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            44<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/mail_activity_notification">
                                    <img class="img img-fluid" src="app_icon_6.png" alt="Activities Daily Reminder"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/mail_activity_notification">
                                    Activities Daily Reminder
                                </a>
                                <p class="mb0">The tool to notify users of assigned to them activities</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            28<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/knowsystem">
                                    <img class="img img-fluid" src="app_icon_7.png" alt="KnowSystem: Knowledge Base System"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/knowsystem">
                                    KnowSystem: Knowledge Base System
                                </a>
                                <p class="mb0">The tool to build deep and structured knowledge base for internal and external use. Knowledge System. KMS</p>
                                <strong class="pull-right">
                                    
                                        
                                            <del style="color:#BA3C3D !important;">
                                                298<i class="fa fa-euro" style="font-size:14px;"> </i>
                                            </del>
                                        
                                        <span>
                                            268<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/cloud_base">
                                    <img class="img img-fluid" src="app_icon_8.png" alt="Cloud Storage Solutions"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/cloud_base">
                                    Cloud Storage Solutions
                                </a>
                                <p class="mb0">The technical core to synchronize your cloud storage solution with Odoo</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            245<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-4 col-md-4 mb32">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <a href="https://apps.odoo.com/apps/modules/13.0/business_appointment">
                                    <img class="img img-fluid" src="app_icon_9.png" alt="Universal Appointments and Time Reservations"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-7">
                                <a href="https://apps.odoo.com/apps/modules/13.0/business_appointment">
                                    Universal Appointments and Time Reservations
                                </a>
                                <p class="mb0">The tool for time-based service management from booking appointment to sale and reviews</p>
                                <strong class="pull-right">
                                    
                                        
                                        <span>
                                            399<i class="fa fa-euro" style="font-size:14px;"> </i>
                                        </span>
                                    
                                </strong>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <div style="background-color:#0D6759 !important;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=faOtools" style="color:white !important;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More Apps by faOtools
                </a>
            </div>
        </div>
    
                    </div>
                
            </div>
        </section>
    