    <div id="wrap" class="oe_structure oe_empty">
      <section class="s_references pt16 pb0" data-name="References" style="background-color: inherit !important;">
        <div class="container">
          <div class="row justify-content-end">
            <div>
              <img src="Community_Edition_3.png" width="80" height="80" class="img img-fluid" alt="" data-original-title="" title="The module is compatible with the Odoo Community version" aria-describedby="tooltip588418"/>
            </div>
            <div>
              <img src="Enterprise_Edition_3.png" width="80" height="80" class="img img-fluid" alt="" data-original-title="" title="The module is compatible with the Odoo Enterprise version" aria-describedby="tooltip135208"/>
            </div>
            <div>
              <img src="Odoo_sh_3.png" width="80" height="80" class="img img-fluid" alt="" data-original-title="" title="The module might be installed to Odoo.sh" aria-describedby="tooltip916808"/>
            </div>
          </div>
        </div>
      </section>
      <section class="pb32 pt0">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pb0 pt0" style="text-align: center;" data-name="Title">
              <h2 class="oe_slogan" style="margin-top: 32px; margin-bottom: 32px;">
                <span style="font-size: 36px;">
                  <b>
                    <br/>
                  </b>
                  <b>Module allows to Create and Print various</b>
                  <b>
                    <br/>
                  </b>
                  <b>Financial and Analytical Reports for all Odoo Applications, </b>
                  <b>
                    <br/>
                  </b>
                  <b>including Custom Applications, in MS Excel format (XLSX, XLSM), </b>
                  <b>
                    <br/>
                  </b>
                  <b>for any data with any level of detail</b>
                </span>
              </h2>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_image pt32 pb32" data-name="Text - Image">
        <div class="container">
          <div class="row align-items-center">
            <div class="pt16 pb24 col-lg-3">
              <h2/>
              <p>
                <br/>
              </p>
              <p/>
            </div>
            <div class="pt16 pb16 col-lg-7">
              <div class="media_iframe_video" data-oe-expression="//www.youtube.com/embed/4v0OduMbDYc?autoplay=0&amp;rel=0">
                <div class="css_editable_mode_display" data-original-title="" title="Professional Reports Excel" aria-describedby="tooltip993726"/>
                <div class="media_iframe_video_size"/>
                <iframe src="//www.youtube.com/embed/4v0OduMbDYc?autoplay=0&amp;rel=0&amp;vq=highres" frameborder="0"/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <ol/>
      <ol/>
      <ul/>
      <ul/>
      <ol/>
      <section class="s_tabs oe_custom_bg o_colored_level" style="" data-name="Tabs">
        <div class="container">
          <div class="row s_col_no_bgcolor">
            <div class="pt48 col-lg-12 pb256">
              <div class="card bg-white" style="">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs justify-content-center" role="tablist">
                    <li class="nav-item" style="border-top-right-radius:6px; border-top-left-radius:6px; margin-right:1px; background-color:#ffc050; padding-bottom:2px">
                      <a class="nav-link show active" id="nav_tabs_link_1597145744989_14" data-toggle="tab" href="#nav_tabs_content_1597145744989_14" role="tab" aria-controls="nav_tabs_content_1597145744989_14" aria-selected="true" data-original-title="" title="">
                        <h3>
                          <font class="text-beta" style="" data-original-title="" title="" aria-describedby="tooltip23482">
                            <b data-original-title="" title="" aria-describedby="tooltip858612">FEATURES</b>
                          </font>
                        </h3>
                      </a>
                    </li>
                    <li class="nav-item" style="border-top-right-radius:6px; border-top-left-radius:6px; margin-right:1px; background-color:#ffc050; padding-bottom:2px">
                      <a class="nav-link" id="nav_tabs_link_1597145744989_16" data-toggle="tab" href="#nav_tabs_content_1597145744989_16" role="tab" aria-controls="nav_tabs_content_1597145744989_16" aria-selected="false" data-original-title="" title="">
                        <h3>
                          <font class="text-beta" style="" data-original-title="" title="" aria-describedby="tooltip23482">
                            <b data-original-title="" title="" aria-describedby="tooltip472781">QUICK START GUIDE</b>
                          </font>
                        </h3>
                      </a>
                    </li>
                    <li class="nav-item" style="border-top-right-radius:6px; border-top-left-radius:6px; margin-right:1px; background-color:#ffc050; padding-bottom:2px">
                      <a class="nav-link" id="nav_tabs_link_1597145744989_17" data-toggle="tab" href="#nav_tabs_content_1597145744989_17" role="tab" aria-controls="nav_tabs_content_1597145744989_17" aria-selected="false" data-original-title="" title="">
                        <h3>
                          <font class="text-beta" style="" data-original-title="" title="" aria-describedby="tooltip23482">
                            <b data-original-title="" title="" aria-describedby="tooltip472781">FAQ</b>
                          </font>
                        </h3>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body tab-content">
                  <div class="tab-pane fade active show" id="nav_tabs_content_1597145744989_14" role="tabpanel" aria-labelledby="nav_tabs_link_1597145744989_14">
                    <h3 class="text-center alert" style="font-family: Roboto; color: #875A7B; font-size: 1.625rem; border-radius: 10px; background: rgb(240, 244, 247);">Report Designer Features</h3>
                    <section class="oe_container o_colored_level">
                      <div class="oe_row oe_spaced">
                        <div>
                          <ul style="color: rgb(100, 100, 100); font-family: &quot;Open Sans&quot;, Helvetica, Sans; font-size: 16px;">
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> All Models (including custom Models defined during development) are available for printing.<br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> All Models Fields (including custom Models Fields defined during development, Calculated Fields not stored in the database and Images) are available for printing. <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Report structure is determined by Sections <br/><ul style="margin-left: 5px;"> Sections describe the model data.<br/> Subsections describe the data of related models.<br/> Possible to define any number of Sections <br/> Each Section can contain any number of Subsections <br/> The sections can be arranged in any order according to the other Sections <br/> Sections can contain any number of Excel Fields definitions. </ul></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> For Excel Fields you can select a Model Field from Any related Model <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Excel Fields in the section can be arranged in any order relative to other Excel Fields <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Excel Fields possible to define additional properties: <br/><ul style="margin-left: 5px;"> Formulas <br/>Grouping by Excel Field <br/> Aggregate functions (used in conjunction with Grouping): Sum, Max, Min, Count, Avg. <br/> Having Clause enables you to specify conditions that filter which group results appear in the results. <br/>In Having Clause possible to use both fixed Values and Report Parameters. <br/> Sort by field: Ascending and Descending. <br/> Printing Images </ul></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Possible to use any number of Report Parameters in the wizard when printing a report <br/><ul style="margin-left: 5px;"> The following types of Report Parameters are supported in the Report: Char, Integer, Float, Many2one, Many2many, Date, DateTime, Boolean. <br/> Report Parameters can be Required to be filled in the Report Printing Wizard or not. <br/> Possible to determine the order of the Report Parameter Fields in the Report Printing Wizard. </ul></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Domains can be used in the settings of each section.  <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> In domains possible to use both fixed Values and Report Parameters. <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Possible definition of output file name pattern <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Display a brief description of the report in the wizard when printing a report <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Creating a report print menu - a report is generated for all records of the main report model <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Adding a menu to the "Print" menu of the Main Report Model - a report is generated based on the selected model records <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> Possible to send the report by Email <br/></li>
                            <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66);"> The ability to use a customized files in MS Excel format (XLSX, XLSM) as a template containing predefined (pre-formatted) fields (sheet, data, color scheme, font size, border, images, page layout, data formats, width, height, alignment, formulas, etc.) <br/>You can prepare a template file in MS Excel or LibreOffice.<br/></li>
                          </ul>
                        </div>
                      </div>
                    </section>
                    <section class="oe_container oe_separator"/>
                    <h3 class="text-center alert" style="font-family: Roboto; color: #875A7B; font-size: 1.625rem; border-radius: 10px; background: rgb(240, 244, 247);">REPORT EXAMPLES</h3>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pb16 pt0" data-name="Title">
                            <h2 class="oe_slogan" style="text-align: center; margin-top: 32px; margin-bottom: 32px; font-family: Lato, &quot;Open Sans&quot;, Helvetica, Sans; color: rgb(51, 51, 51); font-size: 40px;">
                              Example for a Sales Analysis Report
                            </h2>
                          </div>
                          <div class="col-lg-12 pb32 pt0">
                            <p style="text-align: center;"/>
                            <div style="text-align: left;">
                              <br/>
                            </div>
                            <h3 style="font-family: Roboto; color: rgb(9, 30, 66); text-align: center;">REPORT CONTENT</h3>
                            <ul style="color: rgb(100, 100, 100); font-family: &quot;Open Sans&quot;, Helvetica, Sans; font-size: 16px;">
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Sales Orders with the following Fields: Number, Date, Customer, Product, Ordered Quantity, Unit Price, Discont (%), Subtotal, Invoiced Quantity, Delivered Quantity, State, Salesperson</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Invoices with the following Fields: Number, Invoice Date, Due Date, Product, Quantity, Unit Price, Discont (%), Subtotal, Type, Status</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Payments with the following Fields: Name, Payment Date, Currency, Payment Amount</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Warehouse Operations with the following Fields: Reference, Date, Product, Initial Demand, Reserved, Done, Operation Type, State</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Projects with the following Fields: Project Name, Task Name, Assigned to, Planned Hours, Hours Spent, Remaining Hours, Deadline, Progress (%), Stage</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Timesheets for Tasks with the following Fields: Date, Description, Employee, Duration (Hours)</li>
                              <li class="mb8" style="font-family: Roboto; color: rgb(9, 30, 66); list-style-type: square;">Summary of Sales Orders, Invoices, Payments, Warehouse Operations, Projects</li>
                            </ul>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure" style="text-align: center;">
                              <img src="print_report_12_2.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo • A picture with a caption" data-original-title="" title="" aria-describedby="tooltip735291"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="s_hr text-left pt32 pb32" data-name="Separator">
                      <hr class="s_hr_1px s_hr_solid border-600 w-100 mx-auto"/>
                    </div>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pb16 pt0" data-name="Title">
                            <h2 class="oe_slogan" style="text-align: center; margin-top: 32px; margin-bottom: 32px; font-family: Lato, &quot;Open Sans&quot;, Helvetica, Sans; color: rgb(51, 51, 51); font-size: 40px;">
                              Example for a Partner Ledger Report
                            </h2>
                          </div>
                          <div class="col-lg-12 pb32 pt0">
                            <p style="text-align: center;"/>
                            <div style="text-align: left;"> </div>
                            <h3 style="font-family: Roboto; color: rgb(9, 30, 66);"> </h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure" style="text-align: center;">
                              <img src="https://grimmette.com/V13/Partner_Ledger.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo • A picture with a caption" data-original-title="" title="" aria-describedby="tooltip735291"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="s_hr text-left pt32 pb32" data-name="Separator">
                      <hr class="s_hr_1px s_hr_solid border-600 w-100 mx-auto"/>
                    </div>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pb16 pt0" data-name="Title">
                            <h2 class="oe_slogan" style="text-align: center; margin-top: 32px; margin-bottom: 32px; font-family: Lato, &quot;Open Sans&quot;, Helvetica, Sans; color: rgb(51, 51, 51); font-size: 40px;">
                              Example for a Stock IN/OUT
                            </h2>
                          </div>
                          <div class="col-lg-12 pb32 pt0">
                            <p style="text-align: center;"/>
                            <div style="text-align: left;"> </div>
                            <h3 style="font-family: Roboto; color: rgb(9, 30, 66);"> </h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure" style="text-align: center;">
                              <img src="stock-in_out.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo • A picture with a caption" data-original-title="" title="" aria-describedby="tooltip735291"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="s_hr text-left pt32 pb32" data-name="Separator">
                      <hr class="s_hr_1px s_hr_solid border-600 w-100 mx-auto"/>
                    </div>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pb16 pt0" data-name="Title">
                            <h2 class="oe_slogan" style="text-align: center; margin-top: 32px; margin-bottom: 32px; font-family: Lato, &quot;Open Sans&quot;, Helvetica, Sans; color: rgb(51, 51, 51); font-size: 40px;">
                              Example for a Customer Invoice with Product Images
                            </h2>
                          </div>
                          <div class="col-lg-12 pb32 pt0">
                            <p style="text-align: center;"/>
                            <div style="text-align: left;"> </div>
                            <h3 style="font-family: Roboto; color: rgb(9, 30, 66);"> </h3>
                          </div>
                          <div class="pb24 col-lg-12" style="text-align: center;">
                            <figure class="figure" style="text-align: center;">
                              <img src="invoice.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo • A picture with a caption" data-original-title="" title="" aria-describedby="tooltip735291"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="tab-pane fade" id="nav_tabs_content_1597145744989_16" role="tabpanel" aria-labelledby="nav_tabs_link_1597145744989_16">
                    <h2 class="oe_slogan" style="color: #875A7B;">
                      <div style="text-align: center;">
                        <h3 class="text-center alert" style="font-family: Roboto; color: #875A7B; font-size: 1.625rem; border-radius: 10px; background: rgb(240, 244, 247);">Creating and Printing a Report</h3>
                      </div>
                    </h2>
                    <br/>
                    <h4 class="oe_mt32" style="text-align:  left">
                      <strong>This article isn't large enough to cover all of the power packed into this tool. But I hope to show enough to pique reader interest so that you can try these tools out and research their capacity for yourself. </strong>
                      <br/>
                    </h4>
                    <section class="pt32 pb0">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;" data-name="Title">
                            <div class="s_btn text-center pt16 pb16" data-name="Buttons">
                              <a href="https://www.youtube.com/embed/keDWO_4Trow?autoplay=1&amp;amp;rel=0&amp;amp;vq=highres" class="btn btn-primary" data-original-title="" title="" aria-describedby="tooltip975590" target="_blank">VIDEO GUIDE</a>
                            </div>
                            <h2 class="s_title_default"> Create Report Configuration,</h2>
                            <h2 class="s_title_default">for example, for a Report:</h2>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_text_block pb32 pt0" data-name="Text">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-10 offset-lg-1 pt32 pb0">
                            <ul>
                              <li>
                                <p class="lead">
                                  <b>List of all Invoices with a Number, Customer, Date, invoice Amount.</b>
                                </p>
                              </li>
                              <li>
                                <p class="lead">
                                  <b>For each invoice additionally, a List of all Invoice Lines, with Product Name, Quantity, Unit Price, Amount.</b>
                                </p>
                              </li>
                              <li>
                                <p class="lead">
                                  <b>Add Report Print Parameters: Start Date, End Date, Selected Partners.</b>
                                </p>
                              </li>
                              <li>
                                <p class="lead">
                                  <b>Add the ability to print this report from the created Menu.</b>
                                </p>
                              </li>
                              <li>
                                <p class="lead">
                                  <b>Add the ability to print from the "Print" Menu of the Customer Invoices model.</b>
                                  <span style="white-space:pre">                </span>
                                </p>
                              </li>
                            </ul>
                            <p class="lead">
                              <br/>
                            </p>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Select the "Report Excel" Menu</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_329.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Select The Main Report Model</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_330.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">If you need to Prepare and Upload a Report Template, <br/>for example a Template for an Invoices Report</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
                    Using a report template is optional. You can generate reports both with a template and on a blank sheet in the MS Excel Workbook.
                    You can prepare the template file in MS Excel or LibreOffice.
                </font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="template1.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Upload the Template</h3>
                          </div>
                          <div class="col-lg-12 pb0">
                            <figure class="figure">
                              <img src="Selection_331.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pb24 pt0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h1 class="s_title_thin" style="text-align: center; ">
                              <b/>
                              <br/>
                            </h1>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_332.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Select the template you want to use in the Report</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
                    If no template is selected, the report will be generated on a Blank Sheet in the MS Excel workbook.
                </font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_333.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">If necessary, change the Name of the Sheet in the Excel Workbook on which the Report will be generated</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_334.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Add the desired Parameters that you want to use in the Report</h3>
                            <p class="oe_mt32">
                              <font color="red">
                                <b> </b>
                              </font>
                              <font color="red" style="font-size: 18px;">
                                <b>ATTENTION! <br/>AFTER ADDING OR CHANGING THE PARAMETERS, IT IS NECESSARY TO SAVE THE REPORT! <br/>MODIFIED OR NEW CREATED PARAMETERS WILL BE AVAILABLE FOR CHOICE IN THE DOMAIN ONLY AFTER YOU SAVE A REPORT!</b>
                              </font>
                              <font color="red">
                                <b> </b>
                              </font>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_335.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Create the report section</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
                Sections describe the model data.<br/>
                Subsections describe the data of related models.
                </font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_337.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="pb0 pt0 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_338.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Set the Start and End of the Section</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
                Start Section - Top Left Section Cell on the Sheet in the MS Excel Workbook <br/>
                End Section - Lower Right Section Cell on the Sheet in the MS Excel Workbook<br/><br/>
                You can arbitrarily, where required, define Report Sections on the Sheet.   <br/>
                The rules for placement of Sections:<br/>
                - Sections of the Same Level should not intersect.<br/>
                - The Child Section must be within the boundaries of the Parent Section (must not extend beyond the boundaries of the parent Section).<br/>
                </font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="StartEndSection1.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_339.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">If you need to apply a filter to the received records for the Section, then add DOMAIN</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
					<!-- Attention! <br/> -->
					The Type of Odoo Field (Not a Relational Field) you want to apply the Parameter to must match the Parameter Type. <br/>
					For Relational Fields (Type: Many2one or Many2many), the Relation Model must match.<br/>
					For example:<br/>
					1)<br/>
					Odoo Field: "Order Date"  date_order (Type: DateTime)<br/>
					Report Parameter:  "START DATE" (Param Type: DateTime)<br/>
					2)<br/>
					Odoo Field:  "Customer"  partner_id (Type: Many2one)  Relation Model: Contact<br/>
					Report Parameter:  "PARTNERS"  (Param Type: Many2many or Many2one)  Relation Model: Contact<br/>
					<br/>
					If the Parameter Type or Relation Model does not match, the Parameter will not be displayed in the drop-down list available for selection.				
				</font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_340.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb24" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Add an Excel Cell and select the Model Field that you want to display in this Cell</h3>
                            <p class="oe_mt32">
                              <b>
                                <font style="font-size: 18px;">
                The procedure for defining Excel Fields is very simple, you specify the cell on the Sheet in the MS Excel Workbook in the formats "A10", "B10", "A15", "C20", .... and select the Odoo Model Field, the value you want see in this cell.<br/>
                Excel Fields should be located anywhere within the section in which they are defined, but they should not be located on the territory of child sections.<br/>
                </font>
                              </b>
                            </p>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_341.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Add Subsection to get Invoice Lines</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_342.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="StartEndSection2.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="col-lg-12 pb0">
                            <figure class="figure">
                              <img src="Selection_343.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt0 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb0" data-name="Title">
                            <h1 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">
                              <font style="font-size: 24px;">Report configuration is ready. Save Report.</font>
                            </h1>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pb0 pt0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pb16 pt0" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Create a Menu or add to the "Print" menu of the Main Report Model</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_344.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_345.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Refresh the browser page and Select the Menu Item to print the Report</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_346.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_347.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">If you need to choose the Parameters for the Report</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_348.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_picture bg-200 pt48 pb0" data-name="Picture">
                      <div class="container">
                        <div class="row s_nb_column_fixed">
                          <div class="col-lg-12 s_title pt16 pb16" data-name="Title">
                            <h3 class="alert text-center" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Print Report</h3>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="Selection_350.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure">
                              <img src="print_report_12.png" class="figure-img img-fluid rounded img-thumbnail padding-large" alt="Odoo" data-original-title="" title="" aria-describedby="tooltip741434"/>
                            </figure>
                          </div>
                          <div class="pb24 col-lg-12">
                            <figure class="figure"> </figure>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="tab-pane fade" id="nav_tabs_content_1597145744989_17" role="tabpanel" aria-labelledby="nav_tabs_link_1597145744989_17">
                    <section class="s_faq_collapse pt32 pb32 o_colored_level" data-snippet="s_faq_collapse" data-name="Accordion">
                      <div class="container">
                        <div id="myCollapse" class="accordion" role="tablist">
			
                          <div class="card bg-white" data-name="Item">
                            <a href="#" role="tab" data-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-parent="#myCollapse" data-target="#myCollapseTab1597230607381" data-original-title="" title="" aria-describedby="tooltip781623">Is this app compatible with Odoo Enterprise as well as Community?</a>
                            <div class="collapse" role="tabpanel" id="myCollapseTab1597230607381" style="">
                              <div class="card-body">
                                <p class="card-text o_default_snippet_text">Yes, the app works perfectly well with Odoo Enterprise (On-premise and Odoo.SH) as well as Community. Odoo Online (Cloud) does not allow installation of third-party apps and hence this app cannot be installed on Odoo Online.</p>
                              </div>
                            </div>
                          </div>
                          <div class="card bg-white" data-name="Item">
                            <a href="#" role="tab" data-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-parent="#myCollapse" data-original-title="" title="" aria-describedby="tooltip781623" data-target="#myCollapseTab1597230973690">I need an extra feature in this app. How can I request it?</a>
                            <div class="collapse" role="tabpanel" style="" id="myCollapseTab1597230973690">
                              <div class="card-body">
                                <p class="card-text o_default_snippet_text">You can <span style="color:#000; text-decoration:underline" target="_blank" href="info@grimmette.com">contact us </span>to request a customization in the app.</p>
                              </div>
                            </div>
                          </div>
                          <div class="card bg-white" data-name="Item">
                            <a href="#" role="tab" data-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-parent="#myCollapse" data-original-title="" title="" aria-describedby="tooltip781623" data-target="#myCollapseTab1597230972692">Do I get free upgrades and support if I purchase the app?</a>
                            <div class="collapse" role="tabpanel" style="" id="myCollapseTab1597230972692">
                              <div class="card-body">
                                <p class="card-text o_default_snippet_text">If you purchase our app for Odoo Version 12 and prior, we will provide you access to all the versions up to 12 depending on their availability. Starting version 13, every version of the app will be sold separately.</p>
                                <p class="card-text o_default_snippet_text">We offer free support for a duration of 90 days from the date of purchase. Kindly read our<span style="color:#000; text-decoration:underline" target="_blank" href="https://iap.grimmette.com/iap-privacy-policy/support-policy-odoo-apps.html"> support policy </span>to know the details.</p>
                              </div>
                            </div>
                          </div>
                          <div class="card bg-white" data-name="Item">
                            <a href="#" role="tab" data-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-parent="#myCollapse" data-original-title="" title="" aria-describedby="tooltip781623" data-target="#myCollapseTab1597230971935">Do we need to install any additional libraries on the server for using this module?</a>
                            <div class="collapse" role="tabpanel" style="" id="myCollapseTab1597230971935">
                              <div class="card-body">
                                <p class="card-text o_default_snippet_text">No additional libraries are required to use this module.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_block pt0 pb0" data-name="Text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 pt0 pb0">
              <h2 class="oe_slogan" style="text-align:  center">
                <strong>More Report Examples you can look at Demo Live Preview</strong>
                <br/>
              </h2>
            </div>
            <div style="text-align:  left" class="pb0 pt8">
              <h4 class="oe_mt32"> N.B. To create or edit a report configuration, you must log in as Administrator and Activate the Developer Mode!</h4>
              <h4 class="oe_mt32" style="color: rgb(33, 37, 41);">Reports Configuration Menu:  Settings --> Technical --> Reporting --> Reports Excel</h4>
              <h4 class="oe_mt32"><br/> Administrator: <br/> Login: admin <br/>Password: admin<br/><br/> Demo User:<br/> Login: demo <br/>Password: demo<br/></h4>
<!--              <h4 class="oe_mt32">You can view a step-by-step guide to creating reports on the "QUICK START GUIDE" tab above.</h4>  -->
            </div>
          </div>
          <section class="oe_container oe_separator"/>
        </div>
      </section>
      <section class="s_text_block pb24 pt24 o_colored_level" data-name="Text">
        <section class="oe_container pb0 o_colored_level">
          <div class="s_alert alert-delta clearfix s_alert_md w-100" data-name="Alert">
            <i class="fa fa-2x fa-info-circle s_alert_icon" data-original-title="" title="" aria-describedby="tooltip388004"/>
            <div class="s_alert_content">
              <p class="o_default_snippet_text"/>
              <div style="text-align: center;">
                <span style="text-align: left;">
                  <font style="font-size: 24px;">Current Version of the Module 1.3.12 - 7th November 2020<br/></font>
                  <font style=""/>
                </span>
              </div>
              <p/>
            </div>
          </div>
          <section class="oe_container oe_separator"/>
        </section>
      </section>
      
      
      <section class="s_product_catalog oe_custom_bg pt48 pb136" style="" data-name="Product Catalog">
        <div class="container">
          <h2 class="mb-3 text-center w-100" style="font-family: Montserrat, sans-serif; font-weight: 600; font-size: 2rem; letter-spacing: -0.02em; word-spacing: 0.015em; width: 1110px;">Pre-configured Reports</h2>
          <h5 class="text-secondary" style="text-align: center; ">
            <font class="text-black" style="">"Professional Reports Excel (XLSX, XLSM)" is a base application that allows you to create various Reports.  </font>
          </h5>
          <h5 class="text-secondary" style="text-align: center; ">
            <font class="text-black" style="">We also provide some apps with pre-configured reports for the "Professional Reports Excel (XLSX, XLSM)" module, listed below:</font>
          </h5>
          <div class="row">
            <div class="pt40 col-lg-12">
              <div class="row">

                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_account_journal_entries/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Account Journal Entries Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_account_journal_entries_with_lines/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Account Journal Entries with Move Lines Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_account_move_line/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Account Move Line Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_commercial_invoice/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Commercial Invoice (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_invoice/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Customer Invoice (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_invoice_with_product_images/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Customer Invoice with Product Images (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_invoice_with_payment/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Customer Invoice with Payment (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_partner_ledger/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Partner Ledger Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_cons_product_by_month/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Consolidated Product Sales by Month Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_product_by_date/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Product Sales by Date Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_product_by_month/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Product Sales by Month Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_product_by_week_day/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Product Sales by Week Day Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_product_by_week/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Product Sales by Week Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_pos_product_by_year/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">POS Product Sales by Year Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sales_6_month/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Product Sales by Customer for the last 6 Month Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_purchase_order/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Purchase Order Confirmation (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_purchase_order_expected_date/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Purchase Order with Expected Date Confirmation (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_quotation/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Quotation (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_quotation_with_product_images/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Quotation with Product Images (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE</span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_quotation_group_category/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Quotation Grouping by Category (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_request_for_quotation_fillable/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Request for Quotation (Fillable) (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                  <p class="s_product_catalog_dish_description o_default_snippet_text">The form is protected from editing, except for the "Unit Price" and "Special Notes and Instructions" fields</p>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_request_for_quotation_bisic/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Request for Quotation (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_rfq_expected_date_fillable/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Request for Quotation with Expected Date (Fillable) (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                  <p class="s_product_catalog_dish_description o_default_snippet_text">The form is protected from editing, except for the "Unit Price", "Expected Date" and "Special Notes and Instructions" fields</p>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_order/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Sale Order (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_order_with_product_images/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Sale Order with Product Images (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_sale_order_group_category/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Sale Order Grouping by Category (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_stock_in_out/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Stock IN/OUT Report (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
                <div class="s_product_catalog_dish col-lg-12 pt16" data-name="Product">
                  <div class="s_product_catalog_dish_title d-flex align-items-baseline border-bottom mb8">
                    <h1 class="mt0 mb0" itemprop="name" style="font-family: Montserrat, sans-serif; font-size: 20px; letter-spacing: -0.03em; word-spacing: 0.02em; background-color: rgb(248, 249, 250);">
                      <span style="font-weight: bolder;">
                        <a href="https://apps.odoo.com/apps/modules/13.0/report_excel_vendor_bill/" data-original-title="" title="" aria-describedby="tooltip150280" target="_blank">Vendor Bill (XLSX)</a>
                      </span>
                    </h1>
                    <span class="h5 ml-auto pl-3">FREE<span style="font-size: 1.09375rem;"/></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="s_three_columns bg-200 pt32 pb32" data-name="Columns">
        <div class="container">
          <h2 class="display-4 mt48" style="text-align:  center"> Other similar <strong>Odoo Apps</strong></h2>
          <div class="row d-flex align-items-stretch">
            <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
              <a href="https://apps.odoo.com/apps/modules/12.0/pricelist_excel/">
                <div class="card bg-white">
                  <img class="card-img-top" src="pricelists.png" alt="Odoo - Sample 1 for three columns" data-original-title="" title="" aria-describedby="tooltip292551"/>
                  <div class="card-body">
                    <h3 class="card-title">Professional Pricelists Excel (XLSX,XLSM)</h3>
                    <p class="card-text">This module provides the functionality for generating Pricelists in MS Excel format (XLSX, XLSM).</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
              <a href="https://apps.odoo.com/apps/modules/12.0/documents_excel/">
                <div class="card bg-white">
                  <img class="card-img-top" src="documents_cr.png" alt="Odoo - Sample 2 for three columns" data-original-title="" title="" aria-describedby="tooltip539818"/>
                  <div class="card-body">
                    <h3 class="card-title">Professional Documents Excel (XLSX, XLSM)</h3>
                    <p class="card-text">This module provides the functionality for generating Professional Sale Order, Invoice, Purchase Order, Picking and Packing List, Delivery Slip, etc. in MS Excel format (XLSX, XLSM).</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="s_col_no_bgcolor pt16 pb16   col-lg-4">
              <a href="https://apps.odoo.com/apps/modules/browse?order=Newest&amp;author=GRIMMETTE" target="_blank">
                <div class="card bg-white">
                  <img class="card-img-top" src="banner_rep.png" alt="Odoo - Sample 2 for three columns" data-original-title="" title="" aria-describedby="tooltip539818"/>
                  <div class="card-body">
                    <h3 class="card-title" data-original-title="" title="" aria-describedby="tooltip676948">Reports in MS Excel format (XLSX, XLSM)</h3>
                    <p class="card-text" data-original-title="" title="" aria-describedby="tooltip616800">Reports for "Professional Reports Excel (XLSX, XLSM)" module.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_block pb0 pt32" data-name="Text">
        <div class="container">
          <h2 class="oe_slogan" style="text-align: center; ">Contact / Support</h2>
          <div class="oe_span6" style="width: 100%; text-align: center;">
            <h3 class="oe_mt32"> If you need any help or want more additional features,<br/> you may contact us through e-mail at <br/> Email:<a href="mailto:info@grimmette.com" target="new">info@grimmette.com</a><br/></h3>
          </div>
        </div>
      </section>
      <section class="oe_container oe_separator"/>
    </div>
