<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#2C0091"><b>Sales Product Picker</b></h2>
    </div>
</section>

<section class="oe_container">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#000000"><b>Select products in sale order easily using this module.
            Search, grouping, sorting options are available. Double click to zoom the product.
            Edit price, apply discount, change uom and many more</b></h2>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="product_picker.gif" style="height:400px;">
            </div>
        </div>
    </div>
</section>


<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <img src="odoo_mates.png"/>
            <div style="color:#269900;">
                <h3 style="color:#2C0091;font-size: 25px;">If you have any queries or doubt just contact us:</h3><br>
                <h3 style="color:#2C0091;font-size: 20px;">Email: <a href="odoomates@gmail.com">odoomates@gmail.com</a> <br></h3>
            </div>
            <div class="oe_slogan">
               <h2>
                    <a target="_blank" href="https://www.facebook.com/odoomate/" target="new">
                        <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/odoomates/" target="new">
                        <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCVKlUZP7HAhdQgs-9iTJklQ">
                        <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</section>
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
    