<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" style="font-size:35px; color:#875A7B; font-weight:700; text-transform:uppercase; text-align:center; margin:0; margin-bottom:16px">Sale Stock Alert</h2>
	    <h3 class="oe_slogan" style="color:#875A7B; font-size:30px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Alerta email por falta de stock</h3>
            <h4 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Vision General</h4>
            <p class="text-center">
                Esta aplicacion proporciona funcionalidad para notificar via correo electronico (email) al momento de confirmar una venta que contenga un <i>producto sin inventario</i> en ese momento. Una mala gestion del stock e inventario, pueden ocasionar el incumplimiento de objetivos de venta y afectar seriamente el proceso de produccion.
            </p>
        </div>
    </div>
</section>
<section class="oe_container bg-gray-lighter">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Notificacion al vender productos SIN STOCK</h2>
	    <p class="text-center">
                Video Youtube
            </p>
        </div>

        <div class="oe_span12 oe_mb32">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://youtu.be/UyGgtJbK6O8" target="_blank">
                    <img src="miniatura_video.png" alt="Sale stock alert video">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Configuracion general</h4>
            <p class="text-center"><b>1.</b> Habilitar la funcionalidad desde: <i>Ajustes -> Sale Stock Alert </i></p>
            <p class="text-center"><b>2.</b> Configurar la plantilla de correo electronico que se utilizara para notificar sobre la falta de stock</p>
			<p class="text-center"><b>3.</b> Configurar a las personas a quienes se les notificara</p>
            <div class="oe_demo oe_screenshot">
                <img src="ajustes_sale_stock_alert.jpg" alt="ajustes aplicacion odoo sale stock alert"/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
			<h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Uso</h4>
            <p class="text-center">Por default, al agregar productos dentro de un pedido de venta, Odoo escanea y detecta los productos <b>sin inventario</b>. Se marca con un icono color rojo todos aquellos productos sin inventario suficiente para la cantidad solicitada.
            <div class="oe_demo oe_screenshot">
                <img src="venta_con_producto_sin_stock.jpg" alt="venta de producto sin stock"/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <p class="text-center"><br/>En el momento que la venta sea confirmada, se verificara la disponibilidad de cada producto y enviara una notificacion via email a los 
				<i>encargados</i> que fueron configurados para informar del faltante en el inventario. El correo contiene el folio del pedido asi como la cantidad faltante de cada producto
            <div class="oe_demo oe_screenshot">
                <img src="correo_stock_alert.jpg" alt="alerta de correo del stock"/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
			<p><br/></p>
            <h2 class="oe_slogan" class="text-center" style="font-size:35px; color:#875A7B; font-weight:700; text-transform:uppercase; text-align:left; margin:0; margin-bottom:16px">
                <img src="https://tohsoluciones.com/wp-content/uploads/2020/05/96034034_260553645262362_8263055454419025920_n-e1588631562850.png"> TOH SOLUCIONES DIGITALES
            </h2>
            <p class="text-center">
                En Toh Soluciones Digitales tenemos una amplia experiencia en la implementacion de aplicaciones basadas en Odoo. 
				Somos expertos implementando Odoo y por ello podemos ofrecerle la solución que mejor se adapte a sus necesidades. 
				Le ayudamos a tener un control completo de los procesos de administracion, ventas, compras, inventarios y mas. 
				Analizamos la version de Odoo adecuado a sus procesos de negocio con tropicalizacion latinoamericana y Mexicana.
            </p>
            <div class="oe_slogan" style="margin: 10px 0 0 0;">
                <a class="btn btn-lg mt8 oe_purple" href="https://tohsoluciones.com/contacto/">
                    <i class="fa fa-phone" style="margin-right: 6px;"></i>Contactanos</a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <center>
        <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
            <h2 style="font-weight: 600;text-align: center;width: 100%;">Necesita ayuda?</h2>
            <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
            <h4 style="font-size:16px;"> Si tiene algo que compartirnos con respecto a este modulo, por favor permitenos saber. Estamos listos para ofrecerte nuestro apoyo. </h4>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-envelope"></i>Envianos un correo electronico </h4>
                <p>contacto@tohsoluciones.com</p>
            </div>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-globe"></i> Visitanos en </h4>
                <a href="https://www.tohsoluciones.com/" target="_blank"> www.tohsoluciones.com</a>
            </div>
        </div>
    </center>
</section>



