.table_header {
    font-size: x-small;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

.table_reserved {
    font-size: x-small;
    font-weight: bold;
    /*background-color: #FF8E45;*/
    /*color: #000000;*/
    text-align: center;
    min-width: 125px;
    vertical-align: middle;
    cursor: pointer;
}

.table_reserved1 {
    font-size: x-small;
    font-weight: bold;
    /*background-color: blue;*/
    /*color: white;*/
    text-align: center;
    min-width: 125px;
    vertical-align: middle;
    cursor: pointer;
}

.table_blocked {
    font-size: x-small;
    font-weight: bold;
    /*background-color: blue;*/
    /*color: white;*/
    text-align: center;
    min-width: 125px;
    vertical-align: middle;
    cursor: pointer;
}
.table_free {
    font-size: x-small;
    font-weight: bold;
    /*background-color: #6DF17B;*/
    /*color: #000000;*/
    text-align: center;
    min-width: 125px;
    vertical-align: middle;
    cursor: pointer;
}

.table-scroll {
    font-size: x-small;
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 725px; /* para cambiar el alto de la tabla 425 por defecto*/
}

.table-scroll table {
    font-size: x-small;
    overflow: auto;
    width: 75%;
    height: 75%;
    /*min-width: 1200px;*/
    /*min-height: 1200px;*/
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

.table-wrap {
    position: relative;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    vertical-align: middle;
}

.table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 4;
}

th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}