<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Import Bulk Purchase Order Using Excel or CSV File Odoo Apps</b>
			<p class="oe_slogan">
				Do you have large numbers of orders when you purchase goods from suppliers? and it will takes lots of time to manually add them on Purchase orders one by one? Don't worry we will help you to those purchase import them easily with one click using this Odoo Apps.<br/>
                Think that if you have more then 2000 products lines of products in Purchase order, It will take more then 1 hour to add all of those lines.<br/>
                Don't get frustrated by that. Installed this apps and you will get import purchase order option which will help you to import bulk lines in single click.   
			</p>
			</h2>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">If you want to import extra fields from default odoo apart from our sample files, we will add those on our import module without any extra cost. You can purchase our module and contact us on sales@browseinfo.in
                <br/>
            e.,g If you want to add company details , analytic account on purchase order, we will add without any cost</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/Purchase-Orders.jpg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Import bulk Purchase Order in onetime. </b></h4>
					  <span class="oe_slogan">It allows you to import bulk purchase order as well as bulk purchase order line in onetime.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/tax.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Add multiple Tax.</b></h4>
						<span class="oe_slogan">you can add multiple tax separate with semicolon but if there is no need of adding tax you have to leave it blank. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Import Bulk Purchase Order Using Excel or CSV File Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/OUD7zt9V0Zc" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"><b> Import Purchase Order</b></p>
			<p class="oe_slogan"><b>Data File Sample.</b></p>
            <p class="oe_slogan">You have 3 different options to import purchase order.</p>
            <p class="oe_slogan" style="color: #5082c4;"><b>If you are using only numeric value for Internal ref or Barcode field then please make sure the cell type/format is Text/Character</b></p>
            <p class="oe_slogan"><strong>Import with Code.</strong></p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="import_code_xls_product_po.png">
			<p class="oe_slogan"><strong>Import with Barcode.</strong></p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="import_barcode_xls_product_po.png">
			<p class="oe_slogan"><strong>Import with Name.</strong></p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="purchase_tax.png">
			<dl style="padding-left: 30px;text-align:left">
                <dt style="color: #31708f;">PURCHASE ID</dt>
                <dd style="color: #31708f;">- Purchase number for the purchase
                    order.</dd>
                <dt style="color: #31708f;">SUPPLIER</dt>
                <dd style="color: #31708f;">- Vendor name for the purchase
                    order.</dd>
                <dt style="color: #31708f;">CURRENCY</dt>
                <dd style="color: #31708f;">- Currency for the purchase order.</dd>
                <dt style="color: #31708f;">PRODUCT</dt>
                <dd style="color: #31708f;">- Product name for the purchase
                    order.</dd>
                <dt style="color: #31708f;">QUANTITY</dt>
                <dd style="color: #31708f;">- Quantity for the above product.</dd>
                <dt style="color: #31708f;">UOM</dt>
                <dd style="color: #31708f;">- UOM for the above product.</dd>
                <dt style="color: #31708f;">DESCRIPTION</dt>
                <dd style="color: #31708f;">- Description for the product</dd>
                <dt style="color: #31708f;">PRICE</dt>
                <dd style="color: #31708f;">- Price for the above product.</dd>
                <dt style="color: #31708f;">TAX</dt>
                <dd style="color: #31708f;">-Tax for the product</dd>
                <dt style="color: #31708f;">DATE</dt>
                <dd style="color: #31708f;">- Date of purchase order.</dd>
            </dl>
            <p class="oe_slogan">The "PURCHASE ID" should be same, as you can see in the image, "PURCHASE ID" is same for different product list.This defines single order with different product lines.</p>
            <p class="oe_slogan">Tax column is important you have to add "Tax column" though there is no need of adding tax.</p>
            <p class="oe_slogan">1. When code is selected in Import option, please select file that contains code of products.</p>
            <p class="oe_slogan">2. When barcode is selected in Import option, please select file that contains barcode of products.</p>
            <p class="oe_slogan">3. When Name is selected in Import option, please select file that contains name of products.</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Import Purchase Order Menu.</p>
			<p class="oe_slogan">Figure shows the menu for importing data of Purchase Orders.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Import Purchase Order Wizard.</p>
			<p class="oe_slogan"><strong>1. Sequence Option :</strong></p>
            <p class="oe_slogan">If you want to import details of purchase number from CSV/XLS you can also have option regarding this in import purchase wizard.</p>
            <p class="oe_slogan">If you select "Use Excel/CSV Sequence Number" option then name field will came from CSV/XLS file.</p>

            <p class="oe_slogan"><strong>2. Purchase Stage Option :</strong></p>
            <p class="oe_slogan">If you select "Import Draft Purchase" option then purchase order will be import in RFQ (Request For Quotation) stage.</p>
            <p class="oe_slogan">If you select "Confirm Purchase Automatically With Import" option then purchase order will be import in Purchase Order stage.</p>

            <p class="oe_slogan"><strong>3. Import Product By :</strong></p>
            <p class="oe_slogan">You have also option to import products by it's Name/ Barcode or Code(Internal Reference).</p>
            <p class="oe_slogan">If you want to create product while importing purchase order then you have to select import with "Name".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_import_pur_wizard.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">After importing CSV/XLS with "Import Draft Purchase" option then you can see the purchase order is in RFQ stage and Sequance(Purchase Order number) is same as we given in CSV/XLS file.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_draft_po.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Import Purchase Order Tree View.</p>
			<p class="oe_slogan">This is the tree view of purchase order created from given data file.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_draft_po_tree.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> If you select "Confirm Purchase Automatically With Import" option then you can see the purchase order is in Purchase Order stage.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_import_confirm_wizard.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_po_confirm.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> If you select "Use System Default Sequence Number" option then name field will follow the system sequence.</p>
			<br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_sequence_wizard.png">
			<p class="oe_slogan">If all taxes are found in system then purchase order will be generated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_po_seque.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Warning/Validation.</p>
			<p class="oe_slogan"> 1. It will generate error if you select another customer.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_cust_worning.png">
			<p class="oe_slogan">2. It will also generates errors when you import wrong value of Currency, Pricelist, Salesperson, UOM and Tax.</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Installation Guide</b></p>
			<p class="oe_slogan"><strong>Before installing this module you have to install following packages in your system.</strong></p>
            <p class="oe_slogan">1.sudo pip install xlrd</p>
            <p class="oe_slogan">2.sudo pip install xlwt</p>
            <p class="oe_slogan">OR</p>
            <p class="oe_slogan">1.sudo apt-get install python-xlrd</p>
            <p class="oe_slogan">2.sudo apt-get install python-xlwt</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/reorder_rule_import/">
					<img class="img img-responsive" src="related/reorder_rule_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/import_invoice/">
					<img class="img img-responsive" src="related/import_invoice.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/import_bom/">
					<img class="img img-responsive" src="related/import_bom.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/import_purchase/">
					<img class="img img-responsive" src="related/import_purchase.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_import_pricelist/">
					<img class="img img-responsive" src="related/bi_import_pricelist.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/import_lot_serial_no/">
					<img class="img img-responsive" src="related/import_lot_serial_no.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/13.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Import Bulk Purchase Order Using Excel or CSV File Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Import Bulk Purchase Order Using Excel or CSV File Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
